<html>
    <head></head>
    <body>
        <h1>Enter Session</h1>

        <!-- user submits a form entering their name -->
        <form id='registration'>
            <label for="name"></label>
            <input type="text" id="name">
            <input type="submit">
        </form>

        <!-- running javascript code in the browser -->
        <script>
            
            // fetching data from form id='registration' tag 
            const form = document.getElementById("registration");

            // when user submits form -> addEventListener to the browser
            form.addEventListener('submit', function(event) {

                // stop form from refreshing
                event.preventDefault();

                // update the pathname see in browser > inspect > location
                // update pathname to be the name entered by user into the form
                // this will generate route to /session/:name (see index.js)
                location.pathname = '/session/' + form.elements.name.value;
            })


        </script>
    </body>
</html>