
/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/* Without setting height the slides will take up the height of the slide's content */
ion-slides {
  height: 100%;
  --bullet-background: #282828 !important;
  --bullet-background-active: #282828 !important;
  --swiper-pagination-bullet: #282828 ;

}

ul {
  padding: 0px;
}

.vertical-align {    
  margin-left: 5% !important;
  display: flex !important;
  align-content: center !important;
  align-items: center !important;
}

.topComHead {
  margin: 1%;
}

.smaller-title {
  font-size: 1.3em;
}

.bigTitle {
  font-size: 1.3em;
}

.comedyRooms {
  height: 100% !important;
}

.joinBtnIco {
  margin-left: 25px !important;
}

.fullPageCard {
  height: 90%;
}

.comedyRoomCard {
  width: 100% !important;
  margin: 0 !important;
}

.videoCardContainer {
  height: 100% !important;
  width: 100% !important;
  margin: 0 auto;
  padding: 0 !important;
}

.videoTarget {
  padding: 0 !important;
  margin: 0 auto !important;
}

.videoCard {
  margin: 0 auto !important;
}

ion-item {
  padding: 0 !important;
}







/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #B199F8;
  --ion-color-primary-rgb: 177, 153, 248;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #7549F2;
  --ion-color-secondary-rgb: 117, 73, 242;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #EFEFEF;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

}


.comedyRoomIonSlide {
  margin: 0 !important;
  padding: 0 !important;
}

 

.generatecssdotcom_shape {width: 100%; position: absolute;top: 0;right: 0;font-size:8px;color: #cccccc;} 
.generatecssdotcom_shape a {color: #cccccc; text-decoration:none; font-weight:bold; }
.generatecssdotcom_shape a:hover {color: #cccccc; text-decoration:none; font-weight:normal; }
.generatecssdotcome_parallelogram { margin: 0 auto;width:80%;height:100px;-webkit-transform:skew(-20deg);-moz-transform:skew(-20deg);-o-transform:skew(-20deg);transform:skew(-20deg);line-height:148px;text-align:center;overflow:hidden;} 
.generatecssdotcome_parallelogram_text {-webkit-transform:skew(20deg);-moz-transform:skew(20deg);-o-transform:skew(20deg);transform:skew(20deg);} 


